<div class="treeview-base">
  <div class="treeview-header">
    <mat-form-field *ngIf="config.treeLevelConfig.search">
      <input #search matInput placeholder="Search" (keyup)="onSearch($event)" (change)="$event.stopPropagation()">
      <button type="button" mat-button mat-icon-button matPrefix color="primary">
        <mat-icon>search</mat-icon>
      </button>
      <!-- <button type="button" mat-button mat-icon-button matSuffix color="warn" (click)="$event.stopPropagation();search.value=null;applySearch('')">
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>
    <mat-progress-bar *ngIf="config.treeLevelConfig.progress" mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="treeview-content" [style.height]="config.dropdownLevelConfig.height">
    <mat-radio-group>
      <div class="treeview-all" *ngIf="config.treeLevelConfig.allNode">
        <span>
          <!-- radio button -->
          <mat-radio-button *ngIf="config.treeLevelConfig.select===SELECT_RADIO" [value]="all" [checked]="all.nodeState.checked===CHECKED"
            (change)="onAllRadioChange($event)">
            &nbsp;{{all.name}}&nbsp;&nbsp;
          </mat-radio-button>
          <!-- checkbox -->
          <mat-checkbox *ngIf="config.treeLevelConfig.select===SELECT_CHECKBOX" [value]="all.value" [checked]="all.nodeState.checked===CHECKED"
            (change)="onAllCheckChange($event)">
            &nbsp;{{all.name}}&nbsp;&nbsp;
          </mat-checkbox>
          <!-- node name -->
          <label *ngIf="config.treeLevelConfig.select===SELECT_NONE">
            &nbsp;{{all.name}}&nbsp;&nbsp;
          </label>
        </span>
        <span>
          <button mat-icon-button class="btn-small" *ngIf="config.treeLevelConfig.addChild" (click)="onAddRoot()">
            <mat-icon class="icon-small" color="primary">add</mat-icon>
          </button>
        </span>
        <mat-divider></mat-divider>
      </div>
      <sp-treeview-node #tree *ngFor="let node of nodes;let i = index" [template]="template?template:nodeTemplate" [contextPrototype]="contextPrototype"
        [node]="node" [config]="config" (radioSelect)="onChange($event)" (checkboxSelect)="onChange($event)" (delete)="onDelete($event)"
        (addChild)="onAddChild($event)" (loadChildren)="onLoadChildren($event)"></sp-treeview-node>
    </mat-radio-group>
  </div>
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ng-template #nodeTemplate let-node="node" let-config="config" let-onCollapseExpand="onCollapseExpand" let-onCheckChange="onCheckChange"
  let-onRadioChange="onRadioChange" let-onDelete="onDelete" let-onAddChild="onAddChild" let-onLoadChildren="onLoadChildren">
  <div class="tree-node">
    <!-- expand/collapse button -->
    <button type="button" mat-button mat-icon-button *ngIf="node.children" (click)="onCollapseExpand(node)" color="primary">
      <mat-icon *ngIf="node.nodeState.collapsed">keyboard_arrow_right</mat-icon>
      <mat-icon *ngIf="!node.nodeState.collapsed">keyboard_arrow_down</mat-icon>
    </button>
    <!-- if no children then empty space in place of button -->
    <div style="width: 40px;height: 40px;flex-shrink: 0;" *ngIf="node.children==null"></div>
    <!-- <button style="cursor: default;" type="button" mat-button mat-icon-button *ngIf="node.children==null"></button> -->

    <!-- radio button -->
    <mat-radio-button *ngIf="config.treeLevelConfig.select===SELECT_RADIO" [checked]="node.nodeState.checked===CHECKED" [value]="node"
      [disabled]="node.nodeState.disabled" (change)="onRadioChange($event)">
      &nbsp;{{node.name}}&nbsp;&nbsp;
    </mat-radio-button>
    <!-- checkbox -->
    <mat-checkbox *ngIf="config.treeLevelConfig.select===SELECT_CHECKBOX" [checked]="node.nodeState.checked===CHECKED" [value]="node.value"
      [indeterminate]="node.nodeState.checked===INDETERMINATE" [disabled]="node.nodeState.disabled" (change)="onCheckChange($event)">
      &nbsp;{{node.name}}&nbsp;&nbsp;
    </mat-checkbox>

    <!-- node name -->
    <label *ngIf="config.treeLevelConfig.select===SELECT_NONE">
      &nbsp;{{node.name}}&nbsp;&nbsp;
    </label>

    <!-- add child -->
    <button mat-icon-button class="btn-small" *ngIf="((node.nodeLevelConfig.addChild!=null || node.nodeLevelConfig.addChild!=undefined) && node.nodeLevelConfig.addChild)
     || ((node.nodeLevelConfig.addChild==null || node.nodeLevelConfig.addChild==undefined) && config.treeLevelConfig.addChild)"
      (click)="onAddChild(node)">
      <mat-icon class="icon-small" color="primary">add</mat-icon>
    </button>

    <!-- delete node -->
    <button mat-icon-button class="btn-small" *ngIf="((node.nodeLevelConfig.deleteNode!=null || node.nodeLevelConfig.deleteNode!=undefined) && node.nodeLevelConfig.deleteNode)
    || ((node.nodeLevelConfig.deleteNode==null || node.nodeLevelConfig.deleteNode==undefined) && config.treeLevelConfig.deleteNode)"
      (click)="onDelete(node)">
      <mat-icon class="icon-small" color="warn">clear</mat-icon>
    </button>

    <!-- progress bar -->
    <mat-progress-bar *ngIf="node.progress" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>