.treeview-base {
    position: relative;
    min-width: fit-content;
}

mat-form-field {
    width: 100%;
}

.node-base {
    position: relative;
}

.node-child {
    position: relative;
    padding-left: 30px;
    overflow: hidden;
}

.tree-node {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-small {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
}

.icon-small {
    font-size: 22px !important;
    line-height: 22px !important;
}

::ng-deep .mat-input-wrapper.mat-form-field-wrapper {
    padding-bottom: 0px;
}

::ng-deep .mat-form-field-underline {
    bottom: 0px !important;
}
