<div class="demo">
  <h2>Dropdown</h2>
  <sp-treeview-dropdown
    [placeholder]="'Select locations'"
    [nodes]="nodes"
    [config]="configDropdown"
    (delete)="onDelete($event)"
    (addChild)="onAddChild($event)"
    (loadChildren)="onLoadChildren($event)"
    (change)="onChange($event)">
  </sp-treeview-dropdown>

  <h2>Overlay</h2>
  <sp-treeview-overlay
    [placeholder]="'Select locations'"
    [nodes]="nodes"
    [config]="configOverlay"
    (delete)="onDelete($event)"
    (addChild)="onAddChild($event)"
    (loadChildren)="onLoadChildren($event)"
    (change)="onChange($event)">
  </sp-treeview-overlay>

  <h2>Inline Tree</h2>
  <sp-treeview
    [nodes]="nodes"
    [config]="config"
    (delete)="onDelete($event)"
    (addChild)="onAddChild($event)"
    (loadChildren)="onLoadChildren($event)"
    (change)="onChange($event)">
  </sp-treeview>
</div>
